.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body {
      background-color: hsl(216, 12%, 8%);
      align-items: center;
      font-family: "Figtree", serif;
    }

    .around-border {
      background-color: hsl(213, 19%, 18%);
      margin: auto;
      margin-top: 100px;
      width: 340px;

      padding: 30px;
      border-radius: 5%;
      
    }

    .star {
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: hsl(215, 18%, 19%);
      width: 40px;
      height: 40px;
      margin-bottom: 40px;
      aspect-ratio: 1/1;
    }

    .header {
      color: hsl(0, 0%, 100%);
    }

    .text {
      font-size: 15px;
      color: hsl(217, 12%, 63%);
      font-weight: 400;
      line-height: 25px;
    }

    .ratings {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.rating {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
}

    .submit-button {
      background-color: hsl(25, 97%, 53%);
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 10px;
      border-radius: 30px;
      font-weight: 700;
      width: 100%;
      border: none;
    }

    .submit-button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .rating-button {
      background-color: hsl(218, 18%, 19%);
      color: hsl(217, 12%, 63%);
      border: none;
      margin: 10px;
      padding: 15px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 50px;
      height: 50px;
      aspect-ratio: 1/1;
    }

    .rating-button:hover {
      background-color: hsl(25, 97%, 53%);
      color: black;
    }

    .rating-button:active {
      background-color: white;
      color: black;
    }

    .thank-you {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-left: 25%;
      padding-bottom: 20px;
    }

    .selected {
      background-color: hsl(215, 18%, 19%);
      color: hsl(25, 97%, 53%);
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 30px;
      font-weight: 700;
      width: 50%;
      margin-left: 25%;
      border: none;
    }

    .thx {
      font-size: 15px;
      font-weight: 400;
      color: hsl(217, 12%, 63%);
      text-align: center;
      line-height: 25px;
    }
    